<div class=" row">
    <div class="col-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['new']">New</button>
            <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['edit']">Edit</button>
            <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['detail']">Detail</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>